@{
    ViewBag.Title = "Блог о стиле и моде";
    ViewBag.Description = "Блог стилиста-имиджмейкера о стиле, моде, истории моды, новых веяниях в исскустве одеваться";
}

<div class="center-block-main content">

    <main>
        <article class="blogs_1">
            <header>
                <img src="../../img/read_coco_1.jpg" alt="Интересные книги" class="blogs">
            </header>
            <h2 class="blogs">РЕКОМЕНДУЮ К ПРОЧТЕНИЮ</h2>
            <p>
            <p>В эфире рубрика "что почитать". 📖 Во имя Гуччи. Мемуары дочери.</p>
            <p>
                Книга, написанная внебрачной дочерью Альдо Гуччи, сына основателя бренда Gucci.
                Захватываюшая история любви, которая переплетается с историей развития бренда и бурными отношениями внутри семьи. Скандалы, интриги, расследования, итальянские страсти...
            </p>
            <p>@Html.ActionLink("Continue Reading", "Read_Coco", "Home", null, new { @class = "my-class1" })</p>
        </article>
        <article class="blogs_1">
            <header>
                <img src="../../img/danger_season_1.jpg" alt="Распродажи" class="blogs">
            </header>
            <h2 class="blogs">ОПАСНОЕ ВРЕМЯ ГОДА!</h2>
            <p>
                Поговорим о серьезных вещах 😃 началось самое опасное время года: черная пятница, кибер-понедельник, рождественская и новогодняя распродажи. Все магазины будут стараться, чтобы мы потратили как можно больше на всякую нужную и не нужную фигню 😀
                Как же купить только нужное?...
            </p>
            <p>@Html.ActionLink("Continue Reading", "Black_Friday", "Home", null, new { @class = "my-class1" })</p>
        </article>
        <article class="blogs_1">
            <header>
                <img src="../../img/travel_bagage_1.jpg" alt="Варинты капсулы для Путешествий" class="blogs">
            </header>
            <h2 class="blogs">НЕЗАУРЯДНО ДЛЯ ПУТЕШЕСТВИЯ</h2>
            <p>
                <i>Статья написана для <a href="https://www.instagram.com/wanderlust.cy/">@@wanderlust.cy</a></i>
            <p>
                Знакома ли вам такая проблема: летите в Европу, а из багажа только ручная кладь. Как взять минимум вещей, чтобы составить максимум разнообразных комплектов?
                Об этом нам поведала Катерина - персональный стилист
                <a href="https://www.instagram.com/makestyle_notfashion/">@@makestyle_notfashion</a>...
            </p>
            <p>@Html.ActionLink("Continue Reading", "Travel_Bagage", "Home", null, new { @class = "my-class1" })</p>
        </article>

    </main>

    <main>
        <article class="blogs_1">
            <header>
                <img src="../../img/skin_1.jpg" alt="ТРЕНД - КОЖА" class="blogs">
            </header>
            <h2 class="blogs">ТРЕНД - КОЖА</h2>
            <p>
                Честно скажу, что не очень люблю понятия тренд/антитренд и ту скорость, с которой стилисты списывают вещи в раздел "антитренд", когда основная масса людей ещё даже не поняли, что это был тренд 🤣🤣 Я за разумный подход и предпочитаю вещи, которые можно носить не один год, поэтому мне по душе тренды, которые запросто могут стать базой...
            </p>
            <p>@Html.ActionLink("Continue Reading", "Skin", "Home", null, new { @class = "my-class1" })</p>
        </article>
        <article class="blogs_1">
            <header>
                <img src="../../img/article_gilet_1.jpg" alt="Модность/немодность, Тренды/Антитренды" class="blogs">
            </header>
            <h2 class="blogs">МОДНО/НЕ МОДНО</h2>
            <p>
            <p> Практически у всех стилистов есть рубрика Тренды/Антитренды. Причём то, что было в тренде ещё вчера вечером, сегодня утром может уже попасть в антитренды 😂😂</p>
            <p> И у многих читателей создаётся ощущение, что есть только эти 2 категории и всё, если вещь не попала в тренд...</p>
            </p>
            <p>@Html.ActionLink("Continue Reading", "Article_gilet", "Home", null, new { @class = "my-class1" })</p>
        </article>
        <article class="blogs_1">
            <header>
                <img src="../../img/stilyst_for_photosession.jpg" alt="Стилист на фотосессии" class="blogs">
            </header>
            <h2 class="blogs">ЗАЧЕМ НУЖЕН СТИЛИСТ НА ФОТОСЕССИИ</h2>
            <p>
                Казалось бы всё просто - надела красивое платье и образ для фотосессии готов. А потом оказалось, что платье из одного стиля, прическа и макияж из другого, а туфли вообще из третьего. В итоге, гармоничный образ не сложился.
                Чем же может помочь стилист?...
            </p>
            <p>@Html.ActionLink("Continue Reading", "Stylist_for_photosession", "Home", null, new { @class = "my-class1" })</p>
        </article>

    </main>

    <main>
        <article class="blogs_1">
            <header>
                <img src="../../img/dont_trust_stylist.jpg" alt="Не верь стилистам" class="blogs">
            </header>
            <h2 class="blogs">ПОЧЕМУ НЕЛЬЗЯ ВЕРИТЬ СТИЛИСТАМ?</h2>
            <p>
                Статью с таким интригующим названием недавно принес мне Google.
                Безымянный автор открыл шокирующую правду – оказывается стилисты предлагают всем клиентам один и тот же базовый набор предметов гардероба, ограничивают выбор вещей для клиентов своими табу и стереотипами и подбирают образы, не пригодные для обычной жизни...
            </p>
            <p>@Html.ActionLink("Continue Reading", "Dont_trust_stylist", "Home", null, new { @class = "my-class1" })</p>
        </article>
        <article class="blogs_1">
            <header>
                <img src="../../img/services_stylist.jpg" alt="Услуги стилиста" class="blogs">
            </header>
            <h2 class="blogs">УСЛУГИ СТИЛИСТА</h2>
            <p>Сегодня поговорим о том, какие услуги оказывает стилист и что он может сделать для изменения нашего имиджа и стиля...</p>
            <p>@Html.ActionLink("Continue Reading", "Services_stylist", "Home", null, new { @class = "my-class1" })</p>
        </article>
        <article class="blogs_1">
            <header>
                <img src="../../img/grange_1.jpg" alt="Стиль Гранж" class="blogs">
            </header>
            <h2 class="blogs">СТИЛЬ ГРАНЖ</h2>
            <p>Продолжаем говорить о стилях и сегодня у нас на повестке дня стиль Гранж.</p>
            <p>
                Стиль зародился в кругах рок-музыкантов, когда на пике популярности была такие группы, как Nirvana и Soundgarden.
                А на подиум Гранж вывел дизайнер Марк Джейкобс в 1993 г....
            </p>
            <p>@Html.ActionLink("Continue Reading", "Grange", "Home", null, new { @class = "my-class1" })</p>
        </article>

    </main>


    <main>
        <article class="blogs_1">
            <header>
                <img src="../../img/style_casual_3.jpg" alt="СТИЛИ В ОДЕЖДЕ" class="blogs">
            </header>
            <h2 class="blogs">СТИЛИ В ОДЕЖДЕ</h2>
            <p>В мире существует огромное количество стилей, около 200.</p>
            <p>
                Все они имеют свои характерные фасоны, цвета, фактуры, линии, декор, принты, базовые вещи и аксессуарный ряд...
            </p>
            <p>@Html.ActionLink("Continue Reading", "Style_casual", "Home", null, new { @class = "my-class1" })</p>
        </article>
        <article class="blogs_1">
            <header>
                <img src="../../img/base.jpg" alt="Базовый гардероб" class="blogs">
            </header>
            <h2 class="blogs">БАЗОВЫЙ ГАРДЕРОБ</h2>
            <p>Кажется, про базовый гардероб не написал только ленивый, но, судя по комментариям в Инстаграм, у многих до сих пор возникает вопрос, что же это такое...</p>
            <p>@Html.ActionLink("Continue Reading", "Base", "Home", null, new { @class = "my-class1" })</p>
        </article>
        <article class="blogs_1">
            <header>
                <img src="../../img/belt_1.jpg" alt="Ремень" class="blogs">
            </header>
            <h2 class="blogs">АКСЕССУАРЫ - РЕМЕНЬ.</h2>
            <p>
                Сегодня поговорим о таком виде аксессуаров, который есть практически у всех, но многие до сих пор его используют только для того, чтобы брюки не сваливались :) ...
            </p>

            <p>@Html.ActionLink("Continue Reading", "Belt", "Home", null, new { @class = "my-class1" })</p>
        </article>

    </main>

</div>
