@model WebApplication6.Models.GuestResponse
@{
    ViewBag.Title = "Форма для связи";
    ViewBag.Description = "Форма для того, чтобы мы могли с вами связаться, для решения насущных вопросов стиля";
}
<div class="center-block-main content">
    <main>
        <article>
            <h2>Заполнение формы для получения консультации</h2>
            <p>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary()
                <p>Заполните, пожалуйста, форму:</p>
                <p>Ваше имя:<br /> @Html.TextBoxFor(x => x.Name) </p>

                <p>
                    Электронная почта:<br />@Html.TextBoxFor(x => x.Email)
                </p>
                <p>Номер телефона:<br />@Html.TextBoxFor(x => x.Phone)</p>

                <p>
                    Услуга:<br /> @Html.DropDownListFor(x => x.WillAttend, new[] {
new SelectListItem() {Text = "Разбор гардероба", Value =
"1"},
new SelectListItem() {Text = "Шоппинг", Value =
"2"},
new SelectListItem() {Text = "Создание капсулы", Value =
"3"},
new SelectListItem() {Text = "Журнал стиля", Value = "4"},
new SelectListItem() {Text = "Стилизация фотосессий", Value = "5"}
},
"Выберите опцию")
                </p>
                <p>
                    Тип услуги:<br /> @Html.DropDownListFor(x => x.Online, new[] {
new SelectListItem() {Text = "Онлайн", Value =bool.TrueString},
new SelectListItem() {Text = "Личное присутствие", Value =bool.FalseString},
},
"Выберите опцию")
                </p>
                <p>Дополнительные пожелания:<br />@Html.TextAreaFor(x => x.Texts, 5, 26, new { })</p><br /><br /><br />
                <input type="submit" value="Отправить" />
            }
            </article>
            <article></article>

        </main>
    </div>